@font-face {
	font-family: 'CirceRuble';
	src: url('../../fonts/circe/Circe-Regular-Rub.eot');
	src: url('../../fonts/circe/Circe-Regular-Rub.eot#iefix') format('embedded-opentype'),
		url('../../fonts/circe/Circe-Regular-Rub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CirceRuble';
	src: url('../../fonts/circe/Circe-Bold-Rub.eot');
	src: url('../../fonts/circe/Circe-Bold-Rub.eot#iefix') format('embedded-opentype'),
		url('../../fonts/circe/Circe-Bold-Rub.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
